<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETAILS | KITE</title>
</head>
<body>
    <h1>YOUR DETAILS</h1>

    <h2>Username : <%= decodeToken.username %> </h2>
    <h2>EmailID : <%= decodeToken.emailID %> </h2>
</body>
</html>