<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME | KITE</title>
</head>
<body>
    <h1>WELCOME !!</h1>

    <a href="/try/access/<%= token %>">Access Details</a>
</body>
</html>