<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER | KITE</title>
</head>
<body>
    <h1>REGISTER HERE</h1>
    <form action="/register" method="post">
        <label for="email">Email ID : </label>
        <input type="text" name="emailID" id="email">
        <label for="password">Password : </label>
        <input type="password" name="password" id="password">
        <label for="user">Username : </label>
        <input type="text" name="username" id="user">
        <button>Register</button>
    </form>

    <a href="/login">Login instead</a>
</body>
</html>