<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUCCESS | KITE</title>
</head>
<body>
    <h1><%= ob.username %> is registred successfully</h1>


    <a href="/login">Login to continue</a>
</body>
</html>